extends layout

block content 
  h1.display-4.m-b-2 Add BACK TYPES
  div(ng-controller="typeCtrl") 
    p Click here for Add Products :  
      a.btn.btn-secondary(href="/") Add Product
    
    div.form-group
      label Back Type:
      input.form-control(type='text' ng-model="backtype" id="backType")
    div.form-group
      label Description :
      textarea.form-control(row=5 ng-model="backtypedesc" id="backtypeDesc")
      div.form-group
        label(for='ifile') Select Images :
        input.form-control(type='file' id='ifile' placeholder='file' file-model="ifile" name='ifile') 
    div.row
      div.col-lg-6.col-md-6.col-sm-6
          button.btn.btn-primary(type='button' ng-click="backtypeAdd()") Add Backtype
      div.col-lg-6.col-md-6.col-sm-6 
